
*{
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}

.navbar{
  height: 15vh;
    background-color:#001948;
    color:whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
  width: 65px;
  height: 65px;
  /* border: red solid 2px; */
  border-radius: 50%;
  background-image: url("./image/cropped-Logo-e1662790239183.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.liste{
  width: 50rem;
  /* border: 5px red solid; */
  display: flex;
  justify-content: space-between;
  
}

li{
  list-style: none;
}


.navbar button{
  width: 6rem;
  height: 5vh;
  color: whitesmoke;
  font-size: 12px;
  background-color: #DFA408;
  border-radius: 5px;
  border-color: none;
}

.aside{
  margin: 0;
  min-height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  background-image: url("./image/photo1.jpeg");
  background-size: cover;
  align-items: center;
}

.listButton{
  display: flex;
  justify-content: space-around;
}

.listButton button{
  font-size: 20px;
  width: 15rem;
}

.yellow{
  background-color: #DFA408;
  color: whitesmoke;
}

.blue{
  width: 20rem;
  background-color: #001948;
  color: white;
}

